.timer {
    display: flex;
    flex-direction: column;  
}

.countdown-timer {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 2%;
}
.countdown-timer .group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.countdown-timer .value {
    background-color: #fff;
    color: #222;
    font-size: 2.5rem;
    font-weight: bold;
    /* padding: 8px; */
    /* margin: 3px; */
    width: 5vw;
    height: 4.5;
    text-align: center;
    border-radius: 4px;
}

.countdown-timer .unit {
    font-size: 1.2rem;
}

.title {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

@media (max-width: 768px) {

    .timer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .title {
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
    }

    .countdown-timer .value {
        background-color: #fff;
        color: #222;
        font-size: 2rem;
        font-weight: bold;
        /* padding: 8px; */
        /* margin: 3px; */
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 4px;
    }
    .countdown-timer .unit {
        font-size: 1rem;
    }

}
