
nav {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-decoration: none;
}

nav ul {
    display:flex;
    list-style: none; /* Usunięcie domyślnego stylu kropki dla listy */
    padding: 0px;  /* Usunięcie wewnętrznego odstępu dla listy */
    margin-top: 0px; 
    overflow: hidden;
    background-color: rgb(244, 228, 228, 0.532);
    backdrop-filter: blur(10px);
    border-bottom: 2px solid black; 
    border-left: 2px solid black;   
    border-right: 2px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
  
nav li {
    display: inline-block; /* Umieszczenie elementów listy obok siebie w jednej linii */
    margin: 0px; /* Odstęp między elementami */
    padding: 10px;
    background-color: rgb(244, 228, 228, 0.532);
    color: rgb(244, 228, 228, 0.532);
    backdrop-filter: blur(10px);
    font-size: 20px;
    line-height: 20px;
    border-right: 1px solid black;
}

nav li:last-child {
    border-right: none;
}

nav a {
    text-decoration: none;
    color:rgb(30, 28, 28);
    transition: color 0.3s ease; /* Dodanie efektu przejścia koloru */
}

nav li:hover {
  background-color: rgb(90, 164, 201); /* Kolor po najechaniu myszką */
  color:rgb(244, 228, 228, 0.532);
}



